.github/ export-ignore
.phive/ export-ignore
.scripts/ export-ignore
tests/ export-ignore
tools/ export-ignore
vendor-bin/ export-ignore

.php-cs-fixer.php export-ignore
.php-cs-fixer.dist.php export-ignore
.php_cs.php export-ignore
.twig_cs.php export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore

.editorconfig export-ignore
.env export-ignore
.phpstorm.meta.php export-ignore
.bitbucket-pipelines.yml export-ignore
