# IDE Projectfiles
.idea/
.vscode/

public/.env

# Dynamic
.var/
temp/
tmp/
dist/
build/
.cache/
**.cache

# Library
public/app/themes/twenty*
public/wordpress/
public/vendor/
public/node_modules/
tools/
vendor-bin/

# Env
.env
auth.json
.pm.toml

# Other
*.DS_Store
.DS_Store
*.sql
TODO.md

